/* General stuff */

* {
    user-zoom: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    z-index: 0;
    /* border: 1px solid red; */
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    overflow-x: hidden;
}

h1, h2, h3, .h1, .h2, .h3 {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: white;
    width: 100%;
    font-size: 350%;
}

h2 {
    color: rgb(206, 206, 206);
    text-align: center;
    width: 100%;
    padding: 3%;
    font-size: 300%;
}

h2:after {
    display: block;
    height: 3px;
    background-color: #868686;
    content: " ";
    width: 20vw;
    margin: 0 auto;
    margin-top: 4vh;
}

h3 {
    margin-bottom: 2%;
    font-size: 200%;
}


/* Reusable Classes */

.section:not(header) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), black), url(../imgs/header-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 1%;
}

.site-text {
    text-align: left;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 150%;
    color: white;
}

.site-text.vertical-display {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.site-text b {
    font-size: 110%;
    text-decoration: underline;
}

.center-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}


/* Navigation */

#brand-logo, .navbar-brand{
    margin: 0;
    padding: 0;
}

#brand-icon {
    width: 1vw;
    min-width: 50px;
    margin: 0;
    padding: 0;
}


/* Header Stuff */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url(../imgs/header-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

#header-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header-img-1 {
    width: 60%;
}

#header-img-2 {
    width: 50%;
}

#header-img {
    width: 20%;
    min-width: 150px;
    height: auto;
    margin-top: -10vh;
}


/* About Section */

.about-img-holder {
    height: 40vh;
    overflow: hidden;
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-img-holder.vertical-display {
    flex-direction: column;
    width: 80vw;
    height: 90vw;
}

.about-img {
    height: 100%;
    opacity: 0.7;
    background-color: black;
    transform: scale(1);
    transition: opacity 1s, transform 1s, z-index 1s;
}

.about-img.vertical-display{
    height: 50%;
}

.about-img:hover {
    opacity: 1;
    transform: scale(1.2);
    z-index: 1;
}

.about-img.vertical-display:hover {
    transform: scale(1);
}


/* Calendar */

#calendar-iframe {
    width: 80%;
    height: 65vh;
    margin-left: 10%;
}

#calendar-iframe.vertical-display {
    height: 33vh;
}


/* People Section */

.person-container {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.person-image {
    width: 20%;
    border-radius: 100%;
}

.person-description {
    width: 70%;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 120%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section a {
    color: rgb(184, 221, 255);
}

.person-container.vertical-display {
    flex-direction: column;
    width: 96%;
    margin-left: 2%;
}

.person-container.vertical-display img {
    order: 1;
    width: 50%;
}

.person-container.vertical-display div {
    order: 2;
    text-align: center;
}

.last-section {
    height: 100vh !important;
}